<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input type="email" matInput placeholder="Ex. John" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="........" autocomplete="off"/>
      </mat-form-field>
      <button matButton class="forgotPassword">Forgot Password?</button>
      <section>
        <div class="button">
          <button matButton="filled" class="loginBtn">Login</button>
          <!-- <button matButton="filled">Clear</button> -->
        </div>
      </section>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <p>Don't have an account? <button matButton>Register</button></p>
  </mat-card-actions>
</mat-card>
